.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 15px 30px;
  gap: 600px;
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  cursor: pointer;
}

.menu-icon {
  width: 20px;
  height: 20px;
}

.user-name {
  font-size: 12pt;
}

.user-photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
