.jadwal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    margin-bottom: 50px;
  }
  
  .hari-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .hari {
    margin-bottom: 10px;
    font-size: 8pt;
    display: block;
  }
  
  .tanggal {
    font-size: 6pt;
    display: block;
  }
  
  hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid black;
  }
  
  .info-kelas {
    font-family: Arial, sans-serif;
    font-size: 10pt;
  }

  .info-grid {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 90px;
  }

  .info-item {
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .info-title {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
  }
  
  .info-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .info-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .hari-text-line {
    height: 2px;
    background-color: #218838;
    width: 100%;
    max-width: 30px;
    margin: -8px 0 9px 0;
}